name: build

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
     - '**.md'
     - '**.png'
     - '**.vi'
     - '**.lvproj'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-fault-injection:
    runs-on: Windows-latest
    strategy:
      fail-fast: true
      matrix:
        ver: [v3.29.5, v33.2]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore Deps
        id: restore-deps-cache
        uses: actions/cache/restore@v4
        with:
          path: ${{ github.workspace }}/install
          key: deps-${{ matrix.ver }}

      - name: Setup Protobuf
        if: steps.restore-deps-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          git clone --depth 1 -b ${{ matrix.ver }} --recurse-submodules https://github.com/protocolbuffers/protobuf.git

          cmake -S protobuf -B protobuf/build \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_CXX_STANDARD=17 \
            -Dprotobuf_ABSL_PROVIDER=module \
            -Dprotobuf_BUILD_SHARED_LIBS=OFF \
            -DCMAKE_POSITION_INDEPENDENT_CODE=ON \
            -Dprotobuf_MSVC_STATIC_RUNTIME=OFF \
            -Dprotobuf_BUILD_TESTS=OFF \
            -DABSL_PROPAGATE_CXX_STD=ON
          cmake --build protobuf/build --parallel 16 --config Release
          cmake --install protobuf/build --prefix "$GITHUB_WORKSPACE/install"

      - name: Cache Deps
        if: steps.restore-deps-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: ${{ github.workspace }}/install
          key: deps-${{ matrix.ver }}

      # - name: Add protoc to PATH
      #   shell: bash
      #   run: |
      #     echo "$GITHUB_WORKSPACE/install/bin" >> $GITHUB_PATH

      # - name: Gen Src From .proto
      #   shell: bash
      #   run: |
      #     protoc --cpp_out=. -I. test.proto

      - name: CMake Build
        shell: bash
        run: |
          mkdir build; cd build
          cmake .. -DCMAKE_PREFIX_PATH="$GITHUB_WORKSPACE/install"
          cmake --build . --config RelWithDebInfo --target install
